{% extends "base.html.twig" %}
{% block content %}
<div class="container-fluid">
<!-- MODAL -->
    <div id="complete-dialog" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body" id="modal-body">

                    {{ form_start(form, {'attr': {'class': 'form-horizontal','id':'addMemoFrom'}}) }}
                    {{ form_errors(form) }}
                    <fieldset>
                        <legend>Add a memo</legend>
                        <div id ="form-feedback" class="form-feedback"></div>
                        <div class="form-group">
                            {{ form_label(form.datealarm, "Date", {'label_attr': {'class': 'col-lg-2 control-label'}}) }}
                            {{ form_errors(form.datealarm) }}
                            <div class="col-lg-10">
                                 <div class='input-group date' id='datePicker'>
                                     {{ form_widget(form.datealarm, {'attr': {'class': 'form-control'}}) }}
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                 </div>

                                {# {{ form_widget(form.datealarm, {'attr': {'class': 'form-control', 'id':'datePicker'}}) }} #}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.latitude, "Latitude", {'label_attr': {'class': 'col-lg-2 control-label'}}) }}
                            {{ form_errors(form.latitude) }}
                            <div class="col-lg-10">
                                {{ form_widget(form.latitude, {'attr': {'class': 'form-control','readonly':'readonly'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.longitude, "Longitude", {'label_attr': {'class': 'col-lg-2 control-label'}}) }}
                            {{ form_errors(form.longitude) }}
                            <div class="col-lg-10">
                                {{ form_widget(form.longitude, {'attr': {'class': 'form-control','readonly':'readonly'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.title, "Title", {'label_attr': {'class': 'col-lg-2 control-label'}}) }}
                            {{ form_errors(form.title) }}
                            <div class="col-lg-10">
                                {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.memo, "Description", {'label_attr': {'class': 'col-lg-2 control-label'}}) }}
                            {{ form_errors(form.memo) }}
                            <div class="col-lg-10">
                                {{ form_widget(form.memo, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>

                        <div class="modal-footer">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button class="btn btn-default" data-dismiss="modal">Annuler</button>
                                {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                            </div>
                        </div>
                    </fieldset>
                    {{ form_rest(form) }}

                    {{ form_end(form) }}
                    <span id="modal-body-body"></span>
                </div>

               <div class="modal-footer">
                   <div class="spinner" id="spinner">
                       <div class="bounce1"></div>
                       <div class="bounce2"></div>
                       <div class="bounce3"></div>
                   </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL 2 -->
    <div id="memoAdded" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                </div>
                <div class="modal-body" id="modal-body">

                    <span id="modal-body-body">Memo added</span>
                </div>
            </div>
        </div>
    </div>
    <!-- MODAL 3 -->

    <!-- FIN DE MODAL -->
        <div><h3>Your memo</h3></div>
        <div id ="emptyTable"></div>
        <div id="memoArchived" class="alert alert-dismissable alert-success hidden center-block">
            <button type="button" class="close" data-dismiss="alert">×</button>
            Memo Archived
        </div>
        <div id="map"></div>
        <div style = float:left;>
            <div id="tabNote"><table id="tableNote" class="table table-striped table-hover ">
                    <tr>
                        <th></th>
                        <th>Description</th>
                        <th>Date</th>
                        <th>Address</th>
                    </tr>
                </table> </div>
            <div style="clear:left;"></div>
            <div id="infoPanel">
                <b>Estimated address:</b>
                <div id="address"></div>
            </div>
            <div style="clear:left;"></div>
            <button id ="createNote" data-toggle="modal" data-target="#complete-dialog" class="btn btn-fab btn-raised btn-material-red-500"><i class="mdi-image-edit"></i></button>
        </div>
</div>
<div id="footer">
        <div style="text-align: center;bottom: 0;" class="center-block">
            <ul class="pagination" id="paginator">
            </ul>
        </div>
</div>
    <style>
        h3{
            text-align: center;
        }
        body {
            /* Margin bottom by footer height */
            margin-bottom: 60px;
        }
        #map {
            margin-left: 20px;
            width: 50%;
            height: 40em;
            float: left;
        }
        #infoPanel {
            text-align: center;
            margin-left: 10px;
        }
        #tabNote {

            margin-left: 10px;
        }
        #infoPanel div {
            margin-bottom: 5px;
        }
        #createNote{
            display: block;
            margin : auto;
        }
        .alert {
            width:30%;
        }


        .spinner {
            margin: 100px auto 0;
            width: 70px;
            text-align: center;
            display: none;
        }

        .spinner > div {
            width: 18px;
            height: 18px;
            background-color: #333;

            border-radius: 100%;
            display: inline-block;
            -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
            animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        }

        .spinner .bounce1 {
            -webkit-animation-delay: -0.32s;
            animation-delay: -0.32s;
        }

        .spinner .bounce2 {
            -webkit-animation-delay: -0.16s;
            animation-delay: -0.16s;
        }

        @-webkit-keyframes sk-bouncedelay {
            0%, 80%, 100% { -webkit-transform: scale(0) }
            40% { -webkit-transform: scale(1.0) }
        }

        @keyframes sk-bouncedelay {
            0%, 80%, 100% {
                -webkit-transform: scale(0);
                transform: scale(0);
            } 40% {
                  -webkit-transform: scale(1.0);
                  transform: scale(1.0);
              }
        }
        #footer {
            height: 60px;
        }

    </style>
    <link rel="stylesheet" href="//www.bruminator.eu/includes/css/bootstrap-datetimepicker.min.css">
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="//www.bruminator.eu/includes/js/moment-with-locales.min.js"></script>
    <script src="//www.bruminator.eu/includes/js/bootstrap-datetimepicker.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
    <script>
        // https://developers.google.com/maps/documentation/javascript/examples/map-geolocation
        var geocoder = new google.maps.Geocoder();
        var map;
        var montableau = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z'];
        var bounds = new google.maps.LatLngBounds ();
        var personnalMarker;
        var counter=0;
        function geocodePositionTab(pos,callback) {
            geocoder.geocode({
                latLng: pos
            }, function(responses) {
                if (responses && responses.length > 0) {
                    callback(responses[0].formatted_address);
                } else {
                    callback('Cannot determine address at this location.');
                }
            });
        }
        function geocodePosition(pos) {
            geocoder.geocode({
                latLng: pos
            }, function(responses) {
                if (responses && responses.length > 0) {
                    updateMarkerAddress(responses[0].formatted_address);
                } else {
                    updateMarkerAddress('Cannot determine address at this location.');
                }
            });
        }
        function updateMarkerAddress(str) {
            document.getElementById('address').innerHTML = str;
        }
        //var map;
        function initialize() {
            var latLng = new google.maps.LatLng(50.8504500, 4.3487800);
            map = new google.maps.Map(document.getElementById('map'), {
                center: latLng,
                zoom: 8
            });
            var infoWindow = new google.maps.InfoWindow({map: map});
            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    infoWindow.setPosition(pos);
                    infoWindow.setContent('Location found.');
                    map.setCenter(pos);
                    personnalMarker.setPosition(pos);
                    personnalMarker.setVisible(true);
                    //updateMarkerPosition(map.getCenter());
                    geocodePosition(map.getCenter());
                }, function() {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
                personnalMarker.setVisible(true);
                updateMarkerPosition(map.getCenter());
                personnalMarker.setVisible(true);
                geocodePosition(map.getCenter());
            }
            personnalMarker = new google.maps.Marker({
                position: map.getCenter(),
                map: map,
                draggable: true,
                title: 'Add a memo',
                icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png',
                visible: false
            });

            // Update current position info.

            // Add dragging event listeners.
            google.maps.event.addListener(personnalMarker, 'dragstart', function() {
                updateMarkerAddress('Déplacement...');
            });

            google.maps.event.addListener(personnalMarker, 'dragend', function() {
                geocodePosition(personnalMarker.getPosition());
            });
            google.maps.event.addListener(map, 'rightclick', function(event) {
                personnalMarker.setPosition(event.latLng);
                geocodePosition(personnalMarker.getPosition());
            });
            showNote();
            map.fitBounds(bounds);
            map.setCenter(bounds.getCenter());
            createTable();
            createPagination();

        }
        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                    'Error: The Geolocation service failed.' :
                    'Error: Your browser doesn\'t support geolocation.');
        }

        google.maps.event.addDomListener(window, 'load', initialize);
        function createLink(id){
            var split = window.location.href.split("archived/");
            var split2 = split[0].split("page/");
            document.location.href = split2[0]+'page/'+id;
        }
        function showNote() {
            var tab = {{ note | raw }};
            var empty = {{ empty }};
            if(empty == false);
            {
                $.each(tab, function (i, item) {
                    var marker = new google.maps.Marker({
                        position: {lat: parseFloat(item.lat), lng: parseFloat(item.long)},
                        map: map,
                        animation: google.maps.Animation.DROP,
                        icon:'http://www.google.com/mapfiles/marker'+montableau[i]+'.png',
                        //icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png',
                        title: item.desc
                    });
                    //console.log(item.desc)
                    bounds.extend(marker.getPosition());
                    counter = i+1;
                });
            }

        }
        function createPagination(){
            var page = {{ page }};
            var currentPage = {{ currentPage }};
            var i=0;
            while(i<page){
                var count=i+1;
                if(count==currentPage){
                    document.getElementById('paginator').innerHTML +='<li class="active"><a href="javascript:createLink('+count+')">'+count+'</a></li>';
                }
                else{
                    document.getElementById('paginator').innerHTML +='<li><a href="javascript:createLink('+count+')">'+count+'</a></li>';
                }
                i++;
            }
        }
        function createTable(){
            var tab = {{ note | raw }};
            var empty = {{ empty }};
            if(empty == false)
            {
                $.each(tab, function (i, item) {
                    var callback;
                    var split = window.location.href.split("archived/");
                    var split2 = split[0].split("page/");
                    geocodePositionTab(new google.maps.LatLng(parseFloat(item.lat), parseFloat(item.long)), function (callback) {
                        document.getElementById('tableNote').innerHTML += '<tr style="cursor:pointer" onclick=window.location.href="'
                                +split2[0]+'edit/'+item.id+'">' + '<td><img src="http://www.google.com/mapfiles/marker'
                                + montableau[i] + '.png"/></td><td>' + item.desc + '</td><td>' + item.date + '</td><td>'
                                + callback + '</td></tr>';
                    });
                });
            }
            else {document.getElementById('emptyTable').innerHTML = "<div class='alert alert-dismissable alert-warning center-block'>" +
                    "<button type='button' class='close' data-dismiss='alert'>×</button>" +
                    "<h4>Warning!</h4><p>No mémo added yet</p></div>";
            }
        }

        $('#createNote').on('click', function() {
            //$('#modal-body-body').empty().append('Lat = '+ personnalMarker.getPosition().lat()+' Long ='+personnalMarker.getPosition().lng());
            $('#form_latitude').empty().val(personnalMarker.getPosition().lat());
            $('#form_longitude').empty().val(personnalMarker.getPosition().lng());
        });
        $(function () {
            $('#form_datealarm').datetimepicker({locale:"fr",showTodayButton: true,
                stepping : 5,
                format : "DD-MM-YYYY HH:mm"});
        });


        $(function (){
            $('#addMemoFrom').submit(function(e){
                e.preventDefault();
                document.getElementById('spinner').style.display='block';
                $form =$(this);
                var that = $(this),
                        url = (that.attr('action')+"add"),
                        method = that.attr('method'),
                        data = {};
                console.log(method);
                that.find('[name]').each(function(index, value){
                    //console.log(value);
                    var that = $(this),
                            name = that.attr('name'),
                            value = that.val();
                    data[name]=value;
                });
                $.ajax({
                    url: url,
                    type: method,
                    dataType: "json",
                    data: data,
                    success: function(response){
                        if (response["res"]==true){
                            console.log('ok');
                            document.getElementById('spinner').style.display='none';
                            $('#complete-dialog').modal('hide');
                            $('#memoAdded').modal('show');
                            console.log(response["id"]);
                            setTimeout(function() {$('#memoAdded').modal('hide');}, 2500);
                            $("#addMemoFrom")[0].reset();
                            geocodePositionTab(new google.maps.LatLng(data["form[latitude]"],data["form[longitude]"]),function(callback){
                                var split = window.location.href.split("/archived/");
                                var split2 = split[0].split("page/");
                                document.getElementById('tableNote').innerHTML +=
                                        '<tr style="cursor:pointer" onclick=window.location.href="'
                                        +split2[0]+'/edit/'+response["id"]+'">' +'<td><img src="http://www.google.com/mapfiles/marker'+montableau[counter]+'.png"/></td>' +
                                    '<td>'+data["form[title]"]+'</td><td>'+data["form[datealarm]"]+'</td><td>'+ callback +'</td></tr>';
                                var marker = new google.maps.Marker({
                                    position: {lat: parseFloat(data["form[latitude]"]), lng: parseFloat(data["form[longitude]"]) },
                                    map: map,
                                    animation: google.maps.Animation.DROP,
                                    icon:'http://www.google.com/mapfiles/marker'+montableau[counter]+'.png',
                                    //icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png',
                                    title: data["form[title]"]
                                });
                                counter++;
                            });
                        }
                    }
                });
            });
        });
        $(document).ready(function(){
            var val = {{ val }};
            if(val == 1){
                $('#memoArchived').removeClass('hidden');
            }
        });

    </script>
{% endblock %}

{#Hello {{ name }}!#}
