{% trans_default_domain 'FOSUserBundle' %}


<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
    <fieldset>
        {#<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />#}

        <div class="form-group">
            <label for="fos_user_registration_form_email" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
                <input type="text" id="fos_user_registration_form_email" placeholder="Email" class="form-control" name="fos_user_registration_form[email]" required="required" />
            </div>
        </div>
        <div class="form-group">
            <label for="fos_user_registration_form_username" class="col-lg-2 control-label">Username</label>
            <div class="col-lg-10">
                <input type="text" id="fos_user_registration_form_username" placeholder="Username" class="form-control" name="fos_user_registration_form[username]" required="required" />
            </div>
        </div>
        <div class="form-group">
            <label for="fos_user_registration_form_plainPassword_first" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-10">
                <input type="password" id="fos_user_registration_form_plainPassword_first" placeholder="Password" class="form-control" name="fos_user_registration_form[plainPassword][first]" required="required" />
            </div>
        </div>
        <div class="form-group">
            <label for="fos_user_registration_form_plainPassword_second" class="col-lg-2 control-label">Comfirmation</label>
            <div class="col-lg-10">
                <input type="password" id="fos_user_registration_form_plainPassword_second" placeholder="Password" class="form-control" name="fos_user_registration_form[plainPassword][second]" required="required" />
            </div>
        </div>
        <div class="form-group">
            <label for="fos_user_registration_form_firstname" class="col-lg-2 control-label">Firstname</label>
            <div class="col-lg-10">
                <input type="text" id="fos_user_registration_form_firstname" placeholder="Firstname" class="form-control" name="fos_user_registration_form[firstname]" required="required" />
            </div>
        </div>
        <div class="form-group">
            <label for="fos_user_registration_form_lastname" class="col-lg-2 control-label">Lastname</label>
            <div class="col-lg-10">
                <input type="text" id="fos_user_registration_form_lastname" placeholder="Lastname" class="form-control" name="fos_user_registration_form[lastname]" required="required" />
            </div>
        </div>
        {{ form_row(form._token) }}
        {#{{ form_errors(form) }}#}
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <input type="submit" class="btn btn-primary" id="_submit" name="_submit" value="{{ 'registration.submit'|trans }}" />
            </div>
        </div>
    </fieldset>
</form>



{#<div id="fos_user_registration_form">
    <input type="hidden" id="fos_user_registration_form__token" name="fos_user_registration_form[_token]" value="zjYETXTyBD8eWsL7KsSXtUI6SD9LTQ0liSTtnEWVl44" />
</div>#}
